:root {
    --charleston-green: #253031ff;
    --dark-slate-gray: #315659ff;
    --celadon-blue: #2978a0ff;
    --ecru: #bcab79ff;
    --beau-blue: #c6e0ffff;

    --blue-sapphire: #005f73ff;
    --viridian-green: #0a9396ff;
    --peach-orange: #ff914d;
    --middle-blue-green: #94d2bdff;
    --medium-champagne: #e9d8a6ff;
    --gamboge: #ee9b00ff;
    --alloy-orange: #ca6702ff;
    --mahogany: #bb3e03ff;
    --rufous: #ae2012ff;
    --ruby-red: #9b2226ff;
}

* {
    scroll-behavior: smooth;
}

h1 {
    font-family: monospace;
    position: absolute;
    z-index: 2;
}

body {
    background: linear-gradient(var(--gamboge), var(--peach-orange),var(--beau-blue), var(--celadon-blue));
}

.shape {
    position: absolute;
    overflow: hidden;
    height: 550px;
    width: 100%;
    
}

.shape::before {
    border-radius: 100%;
    position: absolute;
    background: var(--mahogany);
    right: -200px;
    left: -200px;
    top: -200px;
    content: '';
    bottom: 0;
    background: radial-gradient(var(--alloy-orange), var(--mahogany));
    /* background: linear-gradient(var(--middle-blue-green), var(--blue-sapphire)); */

}

.main-circle {
    width: 250px;
    height: 250px;
    border: 3px ridge var(--ruby-red);
    background-image: url('../images/lion.svg');
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 100px var(--gamboge), 50px 50px 100px var(--peach-orange), -50px 50px 100px var(--peach-orange);
    z-index: 1;
}

.circle {
    display: flex;
    width: 70px;
    height: 70px;
    border: 2px solid black;
    background-color: var(--celadon-blue);
    z-index: 1;
    transition: transform 0.5s;
}
#link-container {
    height: 100px;
}
#nav-circle-1 {
    align-self: baseline;
}
#nav-circle-2 {
    align-self: flex-end;
}
#nav-circle-3 {
    align-self: baseline;
}
.circle:hover {
    transform: scale(1.5);
}

.circle a {
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
}

#expand-menu {
    display: none;
    position: absolute;
    font-size: 2em;
    cursor: pointer;
    right: 10px;
    top: 0px;
    transform: rotate(45deg);
}

main {
    margin-top: 600px;
}

#bio-title, #work-title, #contact-title {
    position: relative;
    border: 2px solid black;
    margin: 0;
}
#bio-title, #work-title, #contact-title {
    position: relative;
    border: 2px solid black;
    margin: 0;
}

#bio-title::after, #work-title::after, #contact-title::after {
    content: '';
    background: black;
    height: 40px;
    left: 50%;
    position: absolute;
    top: 101%;
    width: 1px;
}

#bio-content {
    border: 2px solid black;
    text-align: center;
    margin: 38px auto 0 auto;
}

#contact-form-container {
    border: 2px solid black;
    text-align: center;
    margin: 38px auto 0 auto;
}

.work-content, .work-content-last {
    border: 2px solid black;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 38px auto 0 auto;
}

.work-content::after {
    content: '';
    background: black;
    height: 40px;
    left: 50%;
    position: absolute;
    top: 101%;
    width: 1px;
}
