@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
body {
  margin: 0;
  font-family: "Gideon Roman", monospace;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

// Carousel configuration parameters
$n: 7;
$item-width: 400px;
$item-separation: 20px;
$viewer-distance: 5000px;

// Derived variables
$theta: 2 * 3.141592653589793 / $n;
$apothem: 482.842712474619px;

.myCarousel {
  padding: 20px;
  margin-bottom: 10vh;
  perspective: $viewer-distance;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  > * {
    flex: 0 0 auto;
  }

  figure {
    margin: 0;

    width: $item-width;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform-origin: 50% 50% (-$apothem);
    img {
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      border: 2px solid black;
      box-sizing: border-box;
      padding: 5px $item-separation / 2;
      background-color: wheat;
      &:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: 50% 50% (-$apothem);
      }

      @for $i from 2 through $n {
        &:nth-child(#{$i}) {
          transform: rotateY(#{($i - 1) * $theta}rad);
        }
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0;
    button {
      flex: 0 0 auto;
      margin: 0 5px;

      cursor: pointer;
      color: #333;
      background: none;
      border: 1px solid;
      letter-spacing: 1px;
      padding: 5px 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  $n: 7;
  $item-width: 300px;
  $item-separation: 10px;
  $viewer-distance: 5000px;

  // Derived variables
  $theta: 2 * 3.141592653589793 / $n;
  $apothem: 482.842712474619px;

  .myCarousel {
    padding: 20px;
    margin-bottom: 10vh;
    perspective: $viewer-distance;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    > * {
      flex: 0 0 auto;
    }

    figure {
      margin: 0;

      width: $item-width;
      transform-style: preserve-3d;
      transition: transform 0.5s;
      transform-origin: 50% 50% (-$apothem);

      img {
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 5px $item-separation / 2;
        background-color: wheat;
        &:not(:first-of-type) {
          position: absolute;
          left: 0;
          top: 0;
          transform-origin: 50% 50% (-$apothem);
        }

        @for $i from 2 through $n {
          &:nth-child(#{$i}) {
            transform: rotateY(#{($i - 1) * $theta}rad);
          }
        }
      }
    }

    nav {
      display: flex;
      justify-content: center;
      margin: 20px 0 0;

      button {
        flex: 0 0 auto;
        margin: 0 5px;

        cursor: pointer;

        color: #333;
        background: none;
        border: 1px solid;
        letter-spacing: 1px;
        padding: 5px 10px;
      }
    }
  }
}
